<div class="homepage">
  {% comment %}<img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo">{% endcomment %}
  {% comment %}<h1>Welcome to Shopify Theme Development course!</h1>{% endcomment %}
  <h1>Welcome to my Ecommerce-Web1</h1>
  <p>{% render 'homepage-text' %}</p>
</div>
